@font-face {
  font-family: "GoraFree";
  src: url("fonts/Gora-Free.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
  line-height: 1.43;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}

.wrapper {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

.container {
	width: 1060px;
	margin: 0 auto;
}

.title{
	color: #fff;
	font-weight: 700;
	font-size: 50px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
}

.title--black{
	color: black;
}

.header {
	min-height: 75px;
	background-color: #131415;
	padding: 15px 0;
}

.logo {
	display: inline-block;
	width: 21%;
}

.logo__text {
	font-size: 18px;
	font-weight: 400;
	font-family: "GoraFree";
	color: #f89513;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.nav {
	display: inline-block;
	width: 58%;
	text-align: center;
}

.nav__item {
	display: inline-block;
	margin-right: 25px;
	letter-spacing: 1px;
}

.nav__item:last-child {
	margin-right: 0;
}

.nav__item--active .nav__link {
	color: #f89513;
}

.nav__link {
	display: inline-block;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
}

.nav__link:hover {
	color: #f89513;
}

.nav__link:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
	background: center center / contain no-repeat;
}

.nav__link--puls:before {
	background-image: url(img/head-icon/puls_icon.png);
	height: 17px;
	width: 19px;
}

.nav__link--star:before {
	background-image: url(img/head-icon/star_icon.png);
	height: 18px;
	width: 20px;
}

.nav__link--gym:before {
	background-image: url(img/head-icon/gym_icon.png);
	height: 16px;
	width: 20px;
}

.nav__link--puls:hover::before {
	background-image: url(img/head-icon/puls_icon_orange.png);
}

.nav__link--star:hover::before {
	background-image: url(img/head-icon/star_icon_orange.png);
}

.nav__link--gym:hover::before {
	background-image: url(img/head-icon/gym_icon_orange.png);
}

.contacts {
	display: inline-block;
	width: 20%;
	font-weight: 700;
	color: #fff;
	text-align: right;
	vertical-align: middle;
}

.contacts__phone {
	color: #fff;
	font-size: 21px;
	font-weight: 600;
}

.contacts__schedule {
	color: #c77814;
	text-decoration: underline;
	font-size: 14px;
	cursor: pointer;
}

.main {
	background-color: #fff;
	margin-top: 78px;
}

.hero__content {
	text-align: center;
}

.hero__pic {
	max-height: 100%;
}

.features {
	margin-top: 53px;
	background-color: #131415;
	padding: 49px 0 95px 0;
	color: #fff;
}

.features__title{
	margin-bottom: 45px;
	text-align: center;
}

.features__list {
	text-align: center;
}

.features__item{
	display: inline-block;
	margin-right: 55px;
	width: 20%;
	text-align: center;
	font-size: 18px;
}

.features__item:last-child{
	margin-right: 0;
}

.features__icon{
	display: inline-block;
	height: 70px;
	width: 70px;
	background-color: #f89513;
	border-radius: 50%;
	position: relative;
}

.features__icon-img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.features__subtitle {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 800;
	letter-spacing: 2px;
	margin-top: 33px;
}

.features__lead {
	font-size: 18px;
	margin-top: 23px;
	line-height: 1.5;
}

.features__desc-list{
	margin-top: -16px;
	text-align: left;
	font-weight: 400;
	line-height: 2;
}

.features__desc-item{
	position: relative;
}

.features__desc-item:before{
	content: '';
	display: inline-block;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: #fff;
	vertical-align: middle;
	margin-right: 15px;
}

.news{
	margin-top: 51px;
}

.last-news__content-main {
	display: inline-block;
	width: 83%;
	vertical-align: top;
	margin-top: 62px;
	margin-right: 18px;
}

.last-news__item{
	border-bottom: 2px solid #f5f5f5;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.last-news__item:last-child{
	border-bottom: none;
	margin-bottom: 0;
	padding: 0;
}

.item__block-pic {
	display: inline-block;
	height: 160px;
	width: 160px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 17px;
	vertical-align: top;
}

.item__pic {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.item__desc{
	display: inline-block;
	width: 79%;
}

.item__date {
	color: #6f6e6e;
	font-size: 14px;
	font-weight: 600;
  margin-top: -4px;
}

.item__title {
	font-weight: 700;
	font-size: 16px;
  margin-top: 3px;
}

.item__text {
	margin-top: 11px;
	font-size: 17px;
	line-height: 1.8;
}

.sidebar {
	display: inline-block;
	width: 14%;
	margin-top: 62px;
	margin-right: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.sidebar__top-news {
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 4px;
}

.sidebar__period {
	font-size: 12px;
}

.sidebar__item {
	margin-top: 18px;
}


.pagination{
	margin-top: 18px;
	text-align: center;
}

.pagination__display, .pagination__pager, .pagination__button, .pagination__list, .pagination__item {
	display: inline-block;
}

.pagination__display {
	font-size: 13px;
	margin-right: 20px;
}

.pagination__button {
	margin-right: 18px;
}

.pagination__button:last-child {
	margin-right: 0;
}

.pagination__item {
	margin-right: 14px;
}

.pagination__link {
	font-size: 14px;
	font-weight: 700;
	color: black;
}

.pagination__link--active {
	display: inline-block;
	height: 23px;
	width: 23px;
	border-radius: 15%;
	color: #f89513;
	background-color: black;
}

.pagination__link:hover {
	color: #f89513;
}

.footer {
	margin-top: 70px;
	min-height: 77px;
	background-color: #131415;
	padding: 10px 0;
	letter-spacing: 1px;
}

.footer__desc {
	display: inline-block;
	color: #fff;
	width: 23%;
	font-size: 14px;
	font-weight: 300;
	vertical-align: middle;
	line-height: 1.2;
	letter-spacing: normal;
}

.footer__link {
	color: #fff;
	font-weight: 700;
	text-decoration: underline;
}

.footer__logo{
	display: inline-block;
	width: 49%;
	text-align: center;
}

.logo__text {
	font-size: 18px;
	font-weight: 400;
	font-family: "GoraFree";
	color: #f89513;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.social {
	display: inline-block;
	color: #fff;
	width: 26%;
	vertical-align: middle;
	padding-left: 100px;
}

.social__desc {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: normal;
}

.social__list {
	margin-top: 8px;
}

.social__item {
	display: inline-block;
	text-align: left;
	margin-right: 5px;
}

.social__item:last-child {
	margin-right: 0;
}

.social__back{
	display: inline-block;
	height: 21px;
	width: 21px;
	background-color: #d0d0d0;
	border-radius: 50%;
	position: relative;
}

.social__back:hover {
	background-color: #f89513;
}

.social__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}