.footer {
	margin-top: 70px;
	min-height: 77px;
	background-color: #131415;
	padding: 10px 0;
	letter-spacing: 1px;
}

.footer .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__desc {
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.2;
	letter-spacing: normal;
	max-width: 23%;
}

.footer__link {
	color: #fff;
	font-weight: 700;
	text-decoration: underline;
}

.footer__logo{
	align-items: center;
	margin-right: 65px;
}

