.nav {
	text-align: center;
}

.nav__list {
	display: flex;
	align-items: center;
}

.nav__item {
	margin-right: 25px;
	letter-spacing: 1px;
}

.nav__item:last-child {
	margin-right: 0;
}

.nav__item--active .nav__link {
	color: #f89513;
}

.nav__link {
	display: inline-block;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
}

.nav__link:hover {
	color: #f89513;
}

.nav__link:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
	background: center center / contain no-repeat;
}

.nav__link--puls:before {
	background-image: url(/img/head-icon/puls_icon.png);
	height: 17px;
	width: 19px;
}

.nav__link--star:before {
	background-image: url(/img/head-icon/star_icon.png);
	height: 18px;
	width: 20px;
}

.nav__link--gym:before {
	background-image: url(/img/head-icon/gym_icon.png);
	height: 16px;
	width: 20px;
}

.nav__item--active  .nav__link--puls:before {
	background-image: url(/img/head-icon/puls_icon_orange.png);
	height: 17px;
	width: 19px;
}

.nav__item--active .nav__link--star:before {
	background-image: url(/img/head-icon/star_icon_orange.png);
	height: 18px;
	width: 20px;
}

.nav__item--active .nav__link--gym:before {
	background-image: url(/img/head-icon/gym_icon_orange.png);
	height: 16px;
	width: 20px;
}

.nav__link--puls:hover::before {
	background-image: url(/img/head-icon/puls_icon_orange.png);
}

.nav__link--star:hover::before {
	background-image: url(/img/head-icon/star_icon_orange.png);
}

.nav__link--gym:hover::before {
	background-image: url(/img/head-icon/gym_icon_orange.png);
}