.pagination{
	font: 14px / 1.42 "roboto", Arial, sans-serif;
	text-align: center;
	display: flex;
	margin-left: 110px;
	align-items: center;
}

.pagination__display {
	margin-right: 20px;
}

.pagination__pager {
	display: flex;
	align-items: center;
}

.pagination__button {
	margin-right: 18px;
}

.pagination__button:last-child {
	margin-right: 0;
}

.pagination__list {
	display: flex;
	align-items: center;
}

.pagination__item {
	margin-right: 16px;
}

.pagination__link {
	font-size: 14px;
	font-weight: 700;
	color: black;
}

.pagination__link--active {
	display: inline-block;
	height: 23px;
	width: 23px;
	border-radius: 15%;
	color: #f89513;
	background-color: black;
	line-height: 23px;
}

.pagination__link:hover {
	transition: color .2s;
	color: #f89513;
}