.partners {
  margin-top: 39px;
}

.partners__title {
  margin-bottom: 70px;
}

.partners__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  margin-bottom: -50px;
}

.partners__item {
  width: 29%;
  align-items: center;
  margin-bottom: 50px;
}

.partners__pic {
  filter: grayscale(100%);
}

.partners__pic:hover {
  filter: grayscale(0%);
}