.sidebar {
	margin-top: 60px;
	text-transform: uppercase;
	letter-spacing: 2.3px;
	margin-bottom: 37px;
}

.sidebar__top-news {
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 4px;
}

.sidebar__period {
	color: #737272;
	font-weight: 700;
	font-size: 12px;
}

.sidebar__list {
	margin-top: 18px;
}

.sidebar__item {
	margin-top: 16px;
}

.sidebar__item:first-child {
	margin-top: 0;
}

.sidebar__pic {
	min-width: 171px;
}