.social {
	color: #000;
	vertical-align: middle;
}

.social__desc {
	font-size: 14px;
	font-weight: 700;
}

.social__list {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 64px;
}

.social__item {
	align-items: center;
}

.social__link {
	display: inline-block; 
	vertical-align: middle;
}

.social__link-vk {
	width: 12px; 
	height: 7px;
	background: url(/img/sprite/css_sprites.png) -129px -10px;
}

.social__link-fb {
	width: 6px; 
	height: 13px;
	background: url(/img/sprite/css_sprites.png) -129px -37px;
}

.social__link-google {
	width: 15px; 
	height: 9px;
	background: url(/img/sprite/css_sprites.png) -10px -82px;
}

.social__link-twitter {
	width: 11px; 
	height: 9px;
	background: url(/img/sprite/css_sprites.png) -77px -82px;
}

.social__link-mail {
	width: 12px; 
	height: 9px;
	background: url(/img/sprite/css_sprites.png) -45px -82px;
}